PipboyMenu/Shared
PipboyMenu/scaleform
PipboyMenu/PipboyMenu.swf
Pipboy InvPage/Shared
Pipboy InvPage/scaleform
Pipboy InvPage/Pipboy_InvPage.swf

# Ignore while I figure out how the heck this will even work
F4SE Plugin